* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background: transparent;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 0;
}

:root {
  --green: ##3EB843;
  --blue: #0147FA;
  --blue2: #A6BFFD;
  --white: #fff;
  --white100: #F8F8F8;
  --gray: #B2B3BF;
  --black: #1C1E2C;
  --black2: #232430;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}