.dashboard {
    width: 100%;
    max-width: 700px;
    flex-basis: 546px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 64px 32px;
    border-radius: 30px;
    background-color: #ffffff;
}

.dark-dashboard {
    background-color: #232430;
}

.user-info {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.btn-logout {
    height: 56px;
    color: #ffffff;
    cursor: pointer;
    background-color: #0147fa;
    width: 70%;
    max-width: 321px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
}

.btn-logout:hover {
    background-color: #a6bffd;
    color: #0147fa;
}

@media (min-width: 1440px) {
    .dashboard {
        padding: 100px 180px;
        flex-basis: 590px;
        max-width: 998px;
    }

    .user-info {
        font-size: 32px;
    }
}
