@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

.App {
    min-height: 100vh;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding: 38px 34px;
    align-items: center;
    background-color: #E5E5E5;
    position: relative;
}

.dark-mode-input {
    margin-bottom: 70px;
}
